* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color:  rgb(62, 118, 74);
  }
  
  .tab {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tab button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tab button.active {
    background-color: #13452c;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0f5532;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0e3a20;
  }
  
  footer p {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
  }
  